[submodule "MagicalRecord"]
	path = MagicalRecord
	url = git://github.com/magicalpanda/MagicalRecord.git
[submodule "KKPasscodeLock"]
	path = KKPasscodeLock
	url = git://github.com/aporat/KKPasscodeLock.git
[submodule "QuickDialog"]
	path = QuickDialog
	url = git@github.com:escoz/QuickDialog.git
[submodule "MKNetworkKit"]
	path = MKNetworkKit
	url = https://github.com/MugunthKumar/MKNetworkKit.git
